body {
    font-family: 'Montserrat', sans-serif;  
}

.navbar-logo {
    width: 40px;
}

.Container-Signature {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    
}

#carouselExampleFade {
    margin: 30px;
}

.card card-body {
    text-align: center;
}

.container-footer {
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 50px;
}